[package]
name          = "ohkami"
version       = "0.21.0"
edition       = "2021"
authors       = ["kanarus <kanarus786@gmail.com>"]
description   = "Build web app in intuitive and declarative code"
documentation = "https://docs.rs/ohkami"
homepage      = "https://crates.io/crates/ohkami"
repository    = "https://github.com/ohkami-rs/ohkami"
readme        = "../README.md"
keywords      = ["async", "http", "web", "server", "framework"]
categories    = ["asynchronous", "web-programming::http-server", "network-programming", "wasm"]
license       = "MIT"


[package.metadata.docs.rs]
features      = ["rt_tokio", "nightly", "sse", "ws"]


[dependencies]
ohkami_lib    = { version = "=0.21.0", path = "../ohkami_lib" }
ohkami_macros = { version = "=0.21.0", path = "../ohkami_macros" }

tokio         = { version = "1",   optional = true }
async-std     = { version = "1",   optional = true }
smol          = { version = "2",   optional = true }
nio           = { version = "0.0", optional = true }
glommio       = { version = "0.9", optional = true }
worker        = { version = "0.4", optional = true }

byte_reader   = { workspace = true }
serde         = { workspace = true }

serde_json    = { version = "1.0" }

base64        = { version = "0.22" }
hmac          = { version = "0.12", default-features = false }
sha2          = { version = "0.10", default-features = false }

ctrlc         = { version = "3.4",  optional = true }
num_cpus      = { version = "1.16", optional = true }
futures-util  = { version = "0.3",  optional = true, default-features = false }
mews          = { version = "0.2",  optional = true }


[features]
rt_tokio = ["__rt_native__",
    "dep:tokio","tokio/rt","tokio/net","tokio/time",
    "tokio/io-util",
    "mews?/rt_tokio",
]
rt_async-std = ["__rt_native__",
    "dep:async-std",
    "dep:futures-util","futures-util/io",
    "mews?/rt_async-std",
]
rt_smol = ["__rt_native__",
    "dep:smol",
    "dep:futures-util","futures-util/io",
    "mews?/rt_smol",
]
rt_nio = ["__rt_native__",
    "dep:nio",
    "dep:tokio","tokio/io-util",
    "mews?/rt_nio"
]
rt_glommio = ["__rt_native__",
    "dep:glommio",
    "dep:futures-util","futures-util/io",
    "mews?/rt_glommio",
    "dep:num_cpus",
]
rt_worker = ["__rt__",
    "dep:worker",
    "ohkami_macros/worker"
]
nightly = []
openapi = []
sse     = ["ohkami_lib/stream"]
ws      = ["ohkami_lib/stream", "dep:mews"]

##### internal #####
__rt__        = []
__rt_native__ = ["__rt__", "dep:ctrlc"]

##### DEBUG #####
DEBUG = ["tokio?/rt-multi-thread", "tokio?/macros"]
default = [
    "nightly",
    "openapi",
    "sse",
    "ws",
    "rt_tokio",
    #"rt_async-std",
    #"rt_smol",
    #"rt_nio",
    #"rt_glommio",
    #"rt_worker",
    "DEBUG",
]