[package]
name          = "ohkami"
version       = "0.15.0"
edition       = "2021"
authors       = ["kanarus <kanarus786@gmail.com>"]
description   = "Build web app in intuitive and declarative code"
documentation = "https://docs.rs/ohkami"
homepage      = "https://crates.io/crates/ohkami"
repository    = "https://github.com/kana-rus/ohkami"
readme        = "../README.md"
keywords      = ["async", "http", "web", "server", "framework"]
categories    = ["asynchronous", "web-programming::http-server"]
license       = "MIT"

[package.metadata.docs.rs]
features      = ["rt_tokio", "custom-header"]

[dependencies]
ohkami_lib    = { version = "=0.1.1", path = "../ohkami_lib" }
ohkami_macros = { version = "=0.6.0", path = "../ohkami_macros" }
tokio         = { version = "1", optional = true, features = ["net", "rt", "io-util", "sync", "time"] }
async-std     = { version = "1", optional = true }
byte_reader   = { version = "2.0.0", features = ["text"] }
serde         = { version = "1.0",   features = ["derive"] }
serde_json    = { version = "1.0" }
#sha1         = { version = "0.10.6", optional = true, default-features = false }
sha2          = { version = "0.10.8", default-features = false }
hmac          = { version = "0.12.1", default-features = false }
rustc-hash    = { version = "1.1", optional = true }

[features]
default       = ["utils", "testing"]
rt_tokio      = ["dep:tokio"]
rt_async-std  = ["dep:async-std"]
utils         = []
testing       = []
custom-header = ["dep:rustc-hash"]
#websocket    = ["dep:sha1"]
#sse          = []

##### DEBUG #####
DEBUG = [
    "tokio?/macros",
    "tokio?/rt-multi-thread",
    "async-std?/attributes",
]
#default = [
#    "utils",
#    "testing",
#    "custom-header",
#    #"websocket",
#    #"rt_tokio",
#    "rt_async-std",
#    "DEBUG",
#]