<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohkami WebSocket Example</title>
    <style>
        main {
            &> * + * {
                margin-block-start: 1rem;
            }
        }
        .echo-text {
            display: flex;
            width: 100%;
            height: 2rem;

            &>input {
                flex-grow: 1;
                font-size: 1.2rem;
            }
            &>button {
                width: 84px;
            }
        }
    </style>
</head>
<body>
    <h1>Echo Text Sample</h1>
    
    <ul>
        <li>Press <code>connect</code> and see dev console.</li>
        <li>Type some text and press <code>send</code>.</li>
        <li>Finally send <code>close</code> to finish the connection.</li>
    </ul>

    <main>
        <div class="echo-text">
            <input id="echo1-text-input"/>
            <button id="echo1-send-button"></button>
        </div>
        
        <div class="echo-text">
            <input id="echo2-text-input"/>
            <button id="echo2-send-button"></button>
        </div>
        
        <div class="echo-text">
            <input id="echo3-text-input"/>
            <button id="echo3-send-button"></button>
        </div>
        
        <div class="echo-text">
            <input id="echo4-text-input"/>
            <button id="echo4-send-button"></button>
        </div>
    </main>
    
    <script type="module">
        import { connect_input_and_button_to } from "/main.js";
        
        const protocol = document.location.protocol === 'https:' ? 'wss:' : 'ws:'
        
        connect_input_and_button_to(`${protocol}//localhost:3030/echo1`,        "echo1-text-input", "echo1-send-button");
        connect_input_and_button_to(`${protocol}//localhost:3030/echo2/ohkami`, "echo2-text-input", "echo2-send-button");
        connect_input_and_button_to(`${protocol}//localhost:3030/echo3/ohkami`, "echo3-text-input", "echo3-send-button");
        connect_input_and_button_to(`${protocol}//localhost:3030/echo4/ohkami`, "echo4-text-input", "echo4-send-button");
    </script>
</body>
</html>