{
  "openapi": "3.1.0",
  "info": {
    "title": "Petstore API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://localhost:5050"
    }
  ],
  "paths": {
    "/pets": {
      "get": {
        "operationId": "list_pets",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "description": "limit of number of pets responded by `list_pets` operation"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "All pets stored in this pet store",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pet"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pets/admin": {
      "get": {
        "operationId": "show_pets_detail",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/pets/{petId}": {
      "get": {
        "operationId": "showPetById",
        "summary": "find a pet of the `id`",
        "description": "Find a pet of the `id`.\nThe parameter `id` must be unsigned 64-bit integer.",
        "parameters": [
          {
            "in": "path",
            "name": "petId",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found a pet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "default": {
            "description": "Something went wrong in finding a pet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "edit_pet_profile",
        "parameters": [
          {
            "in": "path",
            "name": "petId",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePetRequest": {
        "type": "object",
        "properties": {
          "petName": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "petName"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        },
        "required": [
          "statusCode",
          "message"
        ]
      },
      "Pet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      }
    }
  }
}
