{
  "openapi": "3.1.0",
  "info": {
    "title": "Streaming Sample API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "http://localhost:8080"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "intervally_hello",
        "responses": {
          "200": {
            "description": "Streaming",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/once": {
      "get": {
        "operationId": "hello_once",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
